{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Cadastro</h1>
    <form action="{% url 'listagemUsuario' %}" method="post" class="text-center">
        {% csrf_token %}
        <div class="mb-3">
            <input name="nome" class="form-control w-50 mx-auto" type="text" placeholder="Nome">
        </div>
        <div class="mb-3">
            <input name="idade" class="form-control w-50 mx-auto" type="number" placeholder="Idade">
        </div>
        <button class="btn btn-success">Salvar</button>
    </form>
</div>
{% endblock %}
